@font-face{
    font-family: 'DosisL';
    src:url("../assets/fonts/Dosis-Light.ttf");
}
@font-face{
    font-family: 'DosisExL';
    src:url("../assets/fonts/Dosis-ExtraLight.ttf");
}

@font-face{
    font-family: 'TajawalExL';
    src:url("../assets/fonts/Tajawal-ExtraLight.ttf");
}

@font-face{
    font-family: 'TajawalL';
    src:url("../assets/fonts/Tajawal-Light.ttf");
}
