*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    font-family:'TajawalL', sans-serif;
}
*::selection{
    color:red;
    background-color: black;
}

.red{
    color:red;
}
.center{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.white{
    color:white;
}

section.content{
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    // border-bottom:2px dashed blue;
    flex-direction: column;
    h2.title{
        text-align: center;
        text-decoration: underline;
    }
    @media screen and (max-width: 950px){ min-height:120vh; }
    &#contact{
        background-color: #0E1428; 
        flex-direction: column;
    }
    .cont{
        width:85%;
        min-height:40vh;
        display:flex;
        // background-color: red;
        flex-direction: column;
        margin:2%;
    }
}